body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* header styles */
.navbar {
    display: flex;
    padding: 0px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-follow-us {
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 0 18px 30px;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar ul a,
.nav-follow-us-title {
    text-decoration: none;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-title {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-left: 30px;
}

.nav-icon img{
    width: 86px;
    height: 40px;
}